<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% case ENV.fetch("HOTWIRE_ENABLED", params[:hotwire_enabled])
       when "1", /true/i %>
      <script type="module">
        import "https://unpkg.com/@hotwired/turbo-rails@7.1.2/app/assets/javascripts/turbo.js"
        import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus@3.2.2/dist/stimulus.js"

        const application = Application.start()

        application.register("constraint-validations", class extends Controller {
          static values = { options: Object }

          initialize() {
            this.validations = new ConstraintValidations(this.element, this.optionsValue)
          }

          connect() {
            this.validations.connect()
          }

          disconnect() {
            this.validations.disconnect()
          }
        })
      </script>
    <% else %>
      <script>
        addEventListener("DOMContentLoaded", () => {
          const options = { validators: {} }

          <% case params[:disableSubmitWhenInvalid]
             when "0", /false/i %>
          options.disableSubmitWhenInvalid = false
          <% when "1", /true/i %>
          options.disableSubmitWhenInvalid = true
          <% else %>
          options.disableSubmitWhenInvalid = (element) => true
          <% end %>

          <% if params[:validateOn] %>
          options.validateOn = <%= params[:validateOn].to_json.html_safe %>
          <% end %>

          <% case params[:checkbox]
             when "0", /false/i %>
          options.validators.checkbox = false
          <% when "1", /true/i %>
          options.validators.checkbox = true
          <% else %>
          options.validators.checkbox = (group) => false
          <% end %>

          ConstraintValidations.connect(document, options)
        })
      </script>
    <% end %>
  </head>

  <body>
    <% if flash.notice %>
      <div role="alert"><%= flash.notice %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
