<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% case ENV.fetch("HOTWIRE_ENABLED", params[:hotwire_enabled])
       when "1", /true/i %>
      <script type="importmap">
        {
          "imports": {
            "@hotwired/turbo-rails": "<%= asset_path("turbo.js") %>",
            "@hotwired/stimulus": "<%= asset_path("stimulus.js") %>"
          }
        }
      </script>

      <script type="module">
        import "@hotwired/turbo-rails"
        import { Application, Controller } from "@hotwired/stimulus"

        const application = Application.start()

        application.register("constraint-validations", class extends Controller {
          static values = { options: Object }

          initialize() {
            this.validations = new ConstraintValidations(this.element, this.optionsValue)
          }

          connect() {
            this.validations.connect()
          }

          disconnect() {
            this.validations.disconnect()
          }
        })
      </script>
    <% else %>
      <script>
        addEventListener("DOMContentLoaded", () => {
          const options = {}

          <% case params[:disableSubmitWhenInvalid]
             when "0", /false/i %>
          options.disableSubmitWhenInvalid = false
          <% when "1", /true/i %>
          options.disableSubmitWhenInvalid = true
          <% else %>
          options.disableSubmitWhenInvalid = (element) => true
          <% end %>

          <% if params[:validateOn] %>
          options.validateOn = <%= params[:validateOn].to_json.html_safe %>
          <% end %>

          ConstraintValidations.connect(document, options)
        })
      </script>
    <% end %>
  </head>

  <body>
    <% if flash.notice %>
      <div role="alert"><%= flash.notice %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
